
/* Page setup */

html {
    height: 100%;
    width: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
/* Styling the navigation */
    
  ul {
    text-align: right;
    padding-left: 0;
    list-style: none;
  }
  @media (max-width: 320px) {

  }
  
  li {
    display: inline-block;
    
  }
  
  a {
    padding: 16px 35px 16px 0;
    color: #fff;
    display: block;
    text-decoration: none;
    transition: color 1s ease;
    font-size: 22px;
  }
  
  nav {
    display: block;
    width: 100%;
    height: 15%;
    position: fixed;
    z-index: 2;
    padding-bottom: 25px;
    background-color: #073449;
    border-bottom: 2px solid #fff;
  }
  nav .active a {
      color: darkorange;
  }
  
  @media only screen and (max-width: 600px) {
    nav {
      padding-bottom: 27px;

    }
    li {
      display: block;
    }
  }

  
  li:hover a{
    color: rgb(248, 140, 9);
    
  }
  
  
  .row {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    clear: both;
    background: #000;
  }
  
  
  .column {
    width: 33%;
    height: 100%;
    float: left;
    overflow: hidden;
  }
  
  
  /* Background images and style */
  
  
  .row .column {
    opacity: 0.4;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  
  .picture1 {
    background-image: url("https://unsplash.it/700/600/?random");
  }
  
  .picture2 {
    background-image: url("https://unsplash.it/700/550/?random");
  }
  
  .picture3 {
    background-image: url("https://unsplash.it/700/500/?random");
  }
  
  
  /************************************/
  
  /* Styling the typography */
  
  
  .column .text {
    position: relative;
    top: 60%;
    left: 50%;
    width: 50%;
    margin-left: -25%;
  }
  
  .text {
    text-align: center;
    font-family: arial;
    font-size: 32px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-top: 50px;
  }
  
  
  /************************/
  
  /* Animation */
  
  
  .row .column {
    transition: 1s;
  }
  
  .row:hover .column {
    width: 20%;
  }
  
  .row:hover .column:hover {
    width: 60%;
  }
  
  .column:hover {
    opacity: 1;
  }
  
  .column:hover .text {
    transition: ease-in .9s;
    transform: none;
    font-size: 22px;
  }
  
  .column:not( :hover ) .text {
    transition: ease-out .9s;
  }

  #logo {
      color: rgb(204, 185, 185);
      float: left;
      display:inline-block;
      padding-top: 18px;
      padding-left:25px;
      color: rgb(12, 73, 241);
      text-decoration: none;
      font-family: 'Times New Roman', Times, serif;
      font-size: 45px;
      padding: 16px 35px 16px 0;
  }
  .im{
    width:20%;

  }



  .menuButton:hover{
    background-color: rgb(78, 75, 75);
}

@media screen and (max-width:480px){
    .nav>li {
        width: 100%;
    }
}


@media screen and (max-width:366px){
    .nav {
        display: none;
    }
    .menuButton{
        display: block;
    }
}